
body {
    margin: 0px;
}

body > header {
    background-color: rgb(41, 93, 184);
    margin: 10px;
    padding: 10px;
    color: white;
}

body > header > nav > ul > li {
    list-style: none;
    color: white;
}

body > main {
    margin: auto;
    width: 80%;
}

footer {
    background-color: rgb(32, 88, 184);
}
footer > p {
    color: white;
    text-align: center; 
    padding: 12px;
}